In [1]:
import pandas as pd
import json

In [2]:
def read_json_line_by_line(file_path):
    data = []
    with open(file_path, 'r') as f:
        for line in f:
            data.append(json.loads(line))
    return data

In [3]:
receipts_data = read_json_line_by_line('receipts.json')
users_data = read_json_line_by_line('users.json')
brands_data = read_json_line_by_line('brands.json')

In [50]:
#receipts_data.head()

In [4]:
receipts_df = pd.json_normalize(receipts_data)
users_df = pd.json_normalize(users_data)
brands_df = pd.json_normalize(brands_data)

In [11]:
#print(receipts_df.head())

In [5]:
receipt_items = receipts_df[['rewardsReceiptItemList', '_id.$oid']].explode('rewardsReceiptItemList')
receipt_items = pd.json_normalize(receipt_items['rewardsReceiptItemList'])
receipt_items['receipt_id'] = receipts_df['_id.$oid']

In [6]:
receipts_df.drop(columns=['rewardsReceiptItemList'], inplace=True)

In [7]:
receipts_df.rename(columns={'_id.$oid': 'receipt_id', 'createDate.$date': 'createDate', 'dateScanned.$date': 'dateScanned', 'finishedDate.$date': 'finishedDate', 'modifyDate.$date': 'modifyDate', 'pointsAwardedDate.$date': 'pointsAwardedDate', 'purchaseDate.$date': 'purchaseDate', 'userId': 'user_id'}, inplace=True)
users_df.rename(columns={'_id.$oid': 'user_id', 'createdDate.$date': 'createdDate', 'lastLogin.$date': 'lastLogin'}, inplace=True)
brands_df.rename(columns={'_id.$oid': 'brand_id'}, inplace=True)

In [8]:
receipts_df.to_csv('receipts.csv', index=False)
users_df.to_csv('users.csv', index=False)
brands_df.to_csv('brands.csv', index=False)
receipt_items.to_csv('receipt_items.csv', index=False)

In [9]:
receipts_df = pd.read_csv('receipts.csv')
users_df = pd.read_csv('users.csv')
brands_df = pd.read_csv('brands.csv')
receipt_items_df = pd.read_csv('receipt_items.csv')

In [10]:
receipts_info = {
    'columns': receipts_df.columns.tolist(),
    'head': receipts_df.head().to_dict()
}

In [36]:
receipt_items.shape

(7381, 35)

In [32]:
receipt_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 35 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   barcode                             3090 non-null   object
 1   description                         6560 non-null   object
 2   finalPrice                          6767 non-null   object
 3   itemPrice                           6767 non-null   object
 4   needsFetchReview                    813 non-null    object
 5   partnerItemId                       6941 non-null   object
 6   preventTargetGapPoints              358 non-null    object
 7   quantityPurchased                   6767 non-null   float64
 8   userFlaggedBarcode                  337 non-null    object
 9   userFlaggedNewItem                  323 non-null    object
 10  userFlaggedPrice                    299 non-null    object
 11  userFlaggedQuantity                 299 non-null    float64
 12  needsFetchReviewReason              219 non-null    object
 13  pointsNotAwardedReason              340 non-null    object
 14  pointsPayerId                       1267 non-null   object
 15  rewardsGroup                        1731 non-null   object
 16  rewardsProductPartnerId             2269 non-null   object
 17  userFlaggedDescription              205 non-null    object
 18  originalMetaBriteBarcode            71 non-null     object
 19  originalMetaBriteDescription        10 non-null     object
 20  brandCode                           2600 non-null   object
 21  competitorRewardsGroup              275 non-null    object
 22  discountedItemPrice                 5769 non-null   object
 23  originalReceiptItemText             5760 non-null   object
 24  itemNumber                          153 non-null    object
 25  originalMetaBriteQuantityPurchased  15 non-null     float64
 26  pointsEarned                        927 non-null    object
 27  targetPrice                         378 non-null    object
 28  competitiveProduct                  645 non-null    object
 29  originalFinalPrice                  9 non-null      object
 30  originalMetaBriteItemPrice          9 non-null      object
 31  deleted                             9 non-null      object
 32  priceAfterCoupon                    956 non-null    object
 33  metabriteCampaignId                 863 non-null    object
 34  receipt_id                          1119 non-null   object
dtypes: float64(3), object(32)
memory usage: 2.0+ MB

In [33]:
receipt_items.isnull().sum()

barcode                               4291
description                            821
finalPrice                             614
itemPrice                              614
needsFetchReview                      6568
partnerItemId                          440
preventTargetGapPoints                7023
quantityPurchased                      614
userFlaggedBarcode                    7044
userFlaggedNewItem                    7058
userFlaggedPrice                      7082
userFlaggedQuantity                   7082
needsFetchReviewReason                7162
pointsNotAwardedReason                7041
pointsPayerId                         6114
rewardsGroup                          5650
rewardsProductPartnerId               5112
userFlaggedDescription                7176
originalMetaBriteBarcode              7310
originalMetaBriteDescription          7371
brandCode                             4781
competitorRewardsGroup                7106
discountedItemPrice                   1612
originalReceiptItemText               1621
itemNumber                            7228
originalMetaBriteQuantityPurchased    7366
pointsEarned                          6454
targetPrice                           7003
competitiveProduct                    6736
originalFinalPrice                    7372
originalMetaBriteItemPrice            7372
deleted                               7372
priceAfterCoupon                      6425
metabriteCampaignId                   6518
receipt_id                            6262
dtype: int64

In [11]:
users_info = {
    'columns': users_df.columns.tolist(),
    'head': users_df.head().to_dict()
}

In [17]:
users_df.isna().sum()

active           0
role             0
signUpSource    48
state           56
user_id          0
createdDate      0
lastLogin       62
dtype: int64

In [31]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   active        495 non-null    bool
 1   role          495 non-null    object
 2   signUpSource  447 non-null    object
 3   state         439 non-null    object
 4   user_id       495 non-null    object
 5   createdDate   495 non-null    int64
 6   lastLogin     433 non-null    float64
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 23.8+ KB

In [40]:
users_df.shape

(495, 7)

In [41]:
brands_info = {
    'columns': brands_df.columns.tolist(),
    'head': brands_df.head().to_dict()
}

In [42]:
brands_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   barcode       1167 non-null   int64
 1   category      1012 non-null   object
 2   categoryCode  517 non-null    object
 3   name          1167 non-null   object
 4   topBrand      555 non-null    object
 5   brand_id      1167 non-null   object
 6   cpg.$id.$oid  1167 non-null   object
 7   cpg.$ref      1167 non-null   object
 8   brandCode     898 non-null    object
dtypes: int64(1), object(8)
memory usage: 82.2+ KB

In [43]:
brands_df.shape

(1167, 9)

In [44]:
brands_df.isnull().sum()

barcode           0
category        155
categoryCode    650
name              0
topBrand        612
brand_id          0
cpg.$id.$oid      0
cpg.$ref          0
brandCode       269
dtype: int64

In [13]:
receipt_items_info = {
    'columns': receipt_items_df.columns.tolist(),
    'head': receipt_items_df.head().to_dict()
}

In [45]:
receipts_df.shape

(1119, 14)

In [46]:
receipts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   bonusPointsEarned        544 non-null    float64
 1   bonusPointsEarnedReason  544 non-null    object
 2   pointsEarned             609 non-null    float64
 3   purchasedItemCount       635 non-null    float64
 4   rewardsReceiptStatus     1119 non-null   object
 5   totalSpent               684 non-null    float64
 6   user_id                  1119 non-null   object
 7   receipt_id               1119 non-null   object
 8   createDate               1119 non-null   int64
 9   dateScanned              1119 non-null   int64
 10  finishedDate             568 non-null    float64
 11  modifyDate               1119 non-null   int64
 12  pointsAwardedDate        537 non-null    float64
 13  purchaseDate             671 non-null    float64
dtypes: float64(7), int64(3), object(4)
memory usage: 122.5+ KB

In [47]:
receipts_df.isnull().sum()

bonusPointsEarned          575
bonusPointsEarnedReason    575
pointsEarned               510
purchasedItemCount         484
rewardsReceiptStatus         0
totalSpent                 435
user_id                      0
receipt_id                   0
createDate                   0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
purchaseDate               448
dtype: int64

In [14]:
receipts_df.head()

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptStatus,totalSpent,user_id,receipt_id,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,purchaseDate
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,FINISHED,26.0,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,FINISHED,11.0,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12
2,5.0,All-receipts receipt bonus,5.0,1.0,REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12
3,5.0,All-receipts receipt bonus,5.0,4.0,FINISHED,28.0,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12
4,5.0,All-receipts receipt bonus,5.0,2.0,FINISHED,1.0,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,1.609601e+12

In [15]:
receipts_df.isnull().sum()

bonusPointsEarned          575
bonusPointsEarnedReason    575
pointsEarned               510
purchasedItemCount         484
rewardsReceiptStatus         0
totalSpent                 435
user_id                      0
receipt_id                   0
createDate                   0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
purchaseDate               448
dtype: int64

In [83]:
def convert_timestamp(timestamp):
    try:
        # Convert to float first, then to int
        timestamp_float = float(timestamp)
        timestamp_int = int(timestamp_float)
        # Convert the Unix timestamp to a datetime object
        return datetime.utcfromtimestamp(timestamp_int / 1000)
    except Exception as e:
        print(f"Error converting timestamp {timestamp}: {e}")
        return pd.NaT

In [84]:
receipts_df['createDate'] = receipts_df['createDate'].apply(convert_timestamp)

In [85]:
receipts_df['createDate']

0      2021-01-03 15:25:31.000
1      2021-01-03 15:24:43.000
2      2021-01-03 15:25:37.000
3      2021-01-03 15:25:34.000
4      2021-01-03 15:25:06.000
                 ...
1114   2021-03-01 10:22:27.000
1115   2021-03-01 15:42:41.873
1116   2021-03-01 14:07:37.664
1117   2021-03-01 13:07:28.000
1118   2021-03-01 02:22:34.962
Name: createDate, Length: 1119, dtype: datetime64[ns]

In [86]:
receipts_df['createDate'].isnull().sum()

0

In [87]:
receipts_df['dateScanned'] = receipts_df['dateScanned'].apply(convert_timestamp)

In [88]:
receipts_df['dateScanned']

0      2021-01-03 15:25:31.000
1      2021-01-03 15:24:43.000
2      2021-01-03 15:25:37.000
3      2021-01-03 15:25:34.000
4      2021-01-03 15:25:06.000
                 ...
1114   2021-03-01 10:22:27.000
1115   2021-03-01 15:42:41.873
1116   2021-03-01 14:07:37.664
1117   2021-03-01 13:07:28.000
1118   2021-03-01 02:22:34.962
Name: dateScanned, Length: 1119, dtype: datetime64[ns]

In [89]:
receipts_df['dateScanned'].isnull().sum()

0

In [91]:
def convert_timestamp(timestamp):
    try:
        if pd.isna(timestamp):
            return pd.NaT
        timestamp_float = float(timestamp)
        timestamp_int = int(timestamp_float)
        return datetime.utcfromtimestamp(timestamp_int / 1000)
    except Exception as e:
        print(f"Error converting timestamp {timestamp}: {e}")
        return pd.NaT

In [92]:
receipts_df['finishedDate']

0       1.609688e+12
1       1.609687e+12
2                NaN
3       1.609688e+12
4       1.609688e+12
            ...
1114             NaN
1115             NaN
1116             NaN
1117             NaN
1118             NaN
Name: finishedDate, Length: 1119, dtype: float64

In [93]:
receipts_df['finishedDate'] = receipts_df['finishedDate'].apply(convert_timestamp)

In [94]:
receipts_df['finishedDate']

0      2021-01-03 15:25:31
1      2021-01-03 15:24:43
2                      NaT
3      2021-01-03 15:25:34
4      2021-01-03 15:25:11
               ...
1114                   NaT
1115                   NaT
1116                   NaT
1117                   NaT
1118                   NaT
Name: finishedDate, Length: 1119, dtype: datetime64[ns]

In [95]:
receipts_df['finishedDate'].isnull().sum()

551

In [96]:
receipts_df['modifyDate']

0       1609687536000
1       1609687488000
2       1609687542000
3       1609687539000
4       1609687511000
            ...
1114    1614594148000
1115    1614613361873
1116    1614607657664
1117    1614604049000
1118    1614565354962
Name: modifyDate, Length: 1119, dtype: int64

In [97]:
receipts_df['modifyDate'] = receipts_df['modifyDate'].apply(convert_timestamp)

In [98]:
receipts_df['modifyDate']

0      2021-01-03 15:25:36.000
1      2021-01-03 15:24:48.000
2      2021-01-03 15:25:42.000
3      2021-01-03 15:25:39.000
4      2021-01-03 15:25:11.000
                 ...
1114   2021-03-01 10:22:28.000
1115   2021-03-01 15:42:41.873
1116   2021-03-01 14:07:37.664
1117   2021-03-01 13:07:29.000
1118   2021-03-01 02:22:34.962
Name: modifyDate, Length: 1119, dtype: datetime64[ns]

In [99]:
receipts_df['modifyDate'].isnull().sum()

0

In [100]:
receipts_df['pointsAwardedDate']

0       1.609688e+12
1       1.609687e+12
2                NaN
3       1.609688e+12
4       1.609688e+12
            ...
1114             NaN
1115             NaN
1116             NaN
1117             NaN
1118             NaN
Name: pointsAwardedDate, Length: 1119, dtype: float64

In [101]:
receipts_df['pointsAwardedDate'] = receipts_df['pointsAwardedDate'].apply(convert_timestamp)

In [102]:
receipts_df['pointsAwardedDate'].isnull().sum()

582

In [103]:
receipts_df['pointsAwardedDate']

0      2021-01-03 15:25:31
1      2021-01-03 15:24:43
2                      NaT
3      2021-01-03 15:25:34
4      2021-01-03 15:25:06
               ...
1114                   NaT
1115                   NaT
1116                   NaT
1117                   NaT
1118                   NaT
Name: pointsAwardedDate, Length: 1119, dtype: datetime64[ns]

In [104]:
receipts_df['purchaseDate']

0       1.609632e+12
1       1.609601e+12
2       1.609632e+12
3       1.609632e+12
4       1.609601e+12
            ...
1114    1.597622e+12
1115             NaN
1116             NaN
1117    1.597622e+12
1118             NaN
Name: purchaseDate, Length: 1119, dtype: float64

In [105]:
receipts_df['purchaseDate'] = receipts_df['purchaseDate'].apply(convert_timestamp)

In [106]:
receipts_df['purchaseDate']

0      2021-01-03 00:00:00
1      2021-01-02 15:24:43
2      2021-01-03 00:00:00
3      2021-01-03 00:00:00
4      2021-01-02 15:25:06
               ...
1114   2020-08-17 00:00:00
1115                   NaT
1116                   NaT
1117   2020-08-17 00:00:00
1118                   NaT
Name: purchaseDate, Length: 1119, dtype: datetime64[ns]

In [107]:
receipts_df['purchaseDate'].isnull().sum()

448

In [108]:
receipts_df.head()

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptStatus,totalSpent,user_id,receipt_id,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,purchaseDate
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,FINISHED,26.0,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,2021-01-03 00:00:00
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,FINISHED,11.0,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,2021-01-02 15:24:43
2,5.0,All-receipts receipt bonus,5.0,1.0,REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,2021-01-03 15:25:37,2021-01-03 15:25:37,NaT,2021-01-03 15:25:42,NaT,2021-01-03 00:00:00
3,5.0,All-receipts receipt bonus,5.0,4.0,FINISHED,28.0,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,2021-01-03 00:00:00
4,5.0,All-receipts receipt bonus,5.0,2.0,FINISHED,1.0,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,2021-01-03 15:25:06,2021-01-03 15:25:06,2021-01-03 15:25:11,2021-01-03 15:25:11,2021-01-03 15:25:06,2021-01-02 15:25:06

In [109]:
users_df['createdDate']

0      1609687444800
1      1609687444800
2      1609687444800
3      1609687530554
4      1609687444800
           ...
490    1418998882381
491    1418998882381
492    1418998882381
493    1418998882381
494    1418998882381
Name: createdDate, Length: 495, dtype: int64

In [110]:
users_df['createdDate'].isnull().sum()

0

In [111]:
users_df['createdDate'] = users_df['createdDate'].apply(convert_timestamp)

In [112]:
users_df['createdDate']

0     2021-01-03 15:24:04.800
1     2021-01-03 15:24:04.800
2     2021-01-03 15:24:04.800
3     2021-01-03 15:25:30.554
4     2021-01-03 15:24:04.800
                ...
490   2014-12-19 14:21:22.381
491   2014-12-19 14:21:22.381
492   2014-12-19 14:21:22.381
493   2014-12-19 14:21:22.381
494   2014-12-19 14:21:22.381
Name: createdDate, Length: 495, dtype: datetime64[ns]

In [115]:
users_df['lastLogin'] = users_df['lastLogin'].apply(convert_timestamp)

In [117]:
users_df['lastLogin'].isnull().sum()

62

In [116]:
users_df['lastLogin']

0     2021-01-03 15:25:37.858
1     2021-01-03 15:25:37.858
2     2021-01-03 15:25:37.858
3     2021-01-03 15:25:30.597
4     2021-01-03 15:25:37.858
                ...
490   2021-03-05 16:52:23.204
491   2021-03-05 16:52:23.204
492   2021-03-05 16:52:23.204
493   2021-03-05 16:52:23.204
494   2021-03-05 16:52:23.204
Name: lastLogin, Length: 495, dtype: datetime64[ns]

In [118]:
users_df.head()

,active,role,signUpSource,state,user_id,createdDate,lastLogin
0,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:04.800,2021-01-03 15:25:37.858
1,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:04.800,2021-01-03 15:25:37.858
2,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:04.800,2021-01-03 15:25:37.858
3,True,consumer,Email,WI,5ff1e1eacfcf6c399c274ae6,2021-01-03 15:25:30.554,2021-01-03 15:25:30.597
4,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:04.800,2021-01-03 15:25:37.858

In [119]:
receipts_df['pointsEarned']

0       500.0
1       150.0
2         5.0
3         5.0
4         5.0
        ...
1114     25.0
1115      NaN
1116      NaN
1117     25.0
1118      NaN
Name: pointsEarned, Length: 1119, dtype: float64

In [17]:
receipts_df['pointsEarned'] = pd.to_numeric(receipts_df['pointsEarned'], errors='coerce')
receipts_df['totalSpent'] = pd.to_numeric(receipts_df['totalSpent'], errors='coerce')
receipt_items_df['quantityPurchased'] = pd.to_numeric(receipt_items_df['quantityPurchased'], errors='coerce')

In [19]:
receipts_df.to_csv('corrected_receipts.csv', index=False)
users_df.to_csv('corrected_users.csv', index=False)
brands_df.to_csv('corrected_brands.csv', index=False)
receipt_items_df.to_csv('corrected_receipt_items.csv', index=False)

In [26]:
users_df['active'].nunique

<bound method IndexOpsMixin.nunique of 0      True
1      True
2      True
3      True
4      True
       ...
490    True
491    True
492    True
493    True
494    True
Name: active, Length: 495, dtype: bool>

In [120]:
users_df

,active,role,signUpSource,state,user_id,createdDate,lastLogin
0,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:04.800,2021-01-03 15:25:37.858
1,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:04.800,2021-01-03 15:25:37.858
2,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:04.800,2021-01-03 15:25:37.858
3,True,consumer,Email,WI,5ff1e1eacfcf6c399c274ae6,2021-01-03 15:25:30.554,2021-01-03 15:25:30.597
4,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:04.800,2021-01-03 15:25:37.858
...,...,...,...,...,...,...,...
490,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204
491,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204
492,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204
493,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204
494,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204

In [55]:
users_df['signUpSource'].value_counts()

signUpSource
Email     443
Google      4
Name: count, dtype: int64

In [121]:
brands_df

,barcode,category,categoryCode,name,topBrand,brand_id,cpg.$id.$oid,cpg.$ref,brandCode
0,511111019862,Baking,BAKING,test brand @1612366101024,False,601ac115be37ce2ead437551,601ac114be37ce2ead437550,Cogs,NaN
1,511111519928,Beverages,BEVERAGES,Starbucks,False,601c5460be37ce2ead43755f,5332f5fbe4b03c9a25efd0ba,Cogs,STARBUCKS
2,511111819905,Baking,BAKING,test brand @1612366146176,False,601ac142be37ce2ead43755d,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146176
3,511111519874,Baking,BAKING,test brand @1612366146051,False,601ac142be37ce2ead43755a,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146051
4,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,False,601ac142be37ce2ead43755e,5332fa12e4b03c9a25efd1e7,Cogs,TEST BRANDCODE @1612366146827
...,...,...,...,...,...,...,...,...,...
1162,511111116752,Baking,BAKING,test brand @1601644365844,NaN,5f77274dbe37ce6b592e90c0,5f77274dbe37ce6b592e90bf,Cogs,NaN
1163,511111706328,Breakfast & Cereal,NaN,Dippin Dots Cereal,NaN,5dc1fca91dda2c0ad7da64ae,53e10d6368abd3c7065097cc,Cogs,DIPPIN DOTS CEREAL
1164,511111416173,Candy & Sweets,CANDY_AND_SWEETS,test brand @1598639215217,NaN,5f494c6e04db711dd8fe87e7,5332fa12e4b03c9a25efd1e7,Cogs,TEST BRANDCODE @1598639215217
1165,511111400608,Grocery,NaN,LIPTON TEA Leaves,False,5a021611e4b00efe02b02a57,5332f5f6e4b03c9a25efd0b4,Cogs,LIPTON TEA Leaves
1166,511111019930,Baking,BAKING,test brand @1613158231643,False,6026d757be37ce6369301468,6026d757be37ce6369301467,Cogs,TEST BRANDCODE @1613158231644

In [122]:
receipts_df

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptStatus,totalSpent,user_id,receipt_id,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,purchaseDate
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,2021-01-03 15:25:31.000,2021-01-03 15:25:31.000,2021-01-03 15:25:31,2021-01-03 15:25:36.000,2021-01-03 15:25:31,2021-01-03 00:00:00
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,2021-01-03 15:24:43.000,2021-01-03 15:24:43.000,2021-01-03 15:24:43,2021-01-03 15:24:48.000,2021-01-03 15:24:43,2021-01-02 15:24:43
2,5.0,All-receipts receipt bonus,5.0,1.0,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,2021-01-03 15:25:37.000,2021-01-03 15:25:37.000,NaT,2021-01-03 15:25:42.000,NaT,2021-01-03 00:00:00
3,5.0,All-receipts receipt bonus,5.0,4.0,FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,2021-01-03 15:25:34.000,2021-01-03 15:25:34.000,2021-01-03 15:25:34,2021-01-03 15:25:39.000,2021-01-03 15:25:34,2021-01-03 00:00:00
4,5.0,All-receipts receipt bonus,5.0,2.0,FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,2021-01-03 15:25:06.000,2021-01-03 15:25:06.000,2021-01-03 15:25:11,2021-01-03 15:25:11.000,2021-01-03 15:25:06,2021-01-02 15:25:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33,603cc0630a720fde100003e6,2021-03-01 10:22:27.000,2021-03-01 10:22:27.000,NaT,2021-03-01 10:22:28.000,NaT,2020-08-17 00:00:00
1115,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,603d0b710a720fde1000042a,2021-03-01 15:42:41.873,2021-03-01 15:42:41.873,NaT,2021-03-01 15:42:41.873,NaT,NaT
1116,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,603cf5290a720fde10000413,2021-03-01 14:07:37.664,2021-03-01 14:07:37.664,NaT,2021-03-01 14:07:37.664,NaT,NaT
1117,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33,603ce7100a7217c72c000405,2021-03-01 13:07:28.000,2021-03-01 13:07:28.000,NaT,2021-03-01 13:07:29.000,NaT,2020-08-17 00:00:00
1118,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,603c4fea0a7217c72c000389,2021-03-01 02:22:34.962,2021-03-01 02:22:34.962,NaT,2021-03-01 02:22:34.962,NaT,NaT

In [123]:
receipt_items_df

,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,...,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId,receipt_id
0,4011,ITEM NOT FOUND,26.00,26.00,False,1.0,True,5.0,4.011000e+03,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1eb0a720f0523000575
1,4011,ITEM NOT FOUND,1.00,1.00,NaN,1.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1bb0a720f052300056b
2,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2.0,True,1.0,2.840064e+10,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1f10a720f052300057a
3,NaN,NaN,NaN,NaN,False,1.0,True,NaN,4.011000e+03,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1ee0a7214ada100056f
4,4011,ITEM NOT FOUND,28.00,28.00,False,1.0,True,4.0,4.011000e+03,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1d20a7214ada1000561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7378,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,NaN,0.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN,NaN
7379,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN,NaN
7380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
receipt_items_df['userFlaggedBarcode']

0       4.011000e+03
1                NaN
2       2.840064e+10
3       4.011000e+03
4       4.011000e+03
            ...
7376             NaN
7377             NaN
7378             NaN
7379             NaN
7380             NaN
Name: userFlaggedBarcode, Length: 7381, dtype: float64

In [126]:
receipts_df.to_csv("final_receipts.csv", index = False)
receipt_items_df.to_csv("final_receipt_items.csv", index = False)
brands_df.to_csv("final_brands.csv", index = False)
users_df.to_csv("final_users.csv", index = False)

In [127]:
receipts_df.columns

Index(['bonusPointsEarned', 'bonusPointsEarnedReason', 'pointsEarned',
       'purchasedItemCount', 'rewardsReceiptStatus', 'totalSpent', 'user_id',
       'receipt_id', 'createDate', 'dateScanned', 'finishedDate', 'modifyDate',
       'pointsAwardedDate', 'purchaseDate'],
      dtype='object')

In [128]:
receipt_items_df.columns

Index(['barcode', 'description', 'finalPrice', 'itemPrice', 'needsFetchReview',
       'partnerItemId', 'preventTargetGapPoints', 'quantityPurchased',
       'userFlaggedBarcode', 'userFlaggedNewItem', 'userFlaggedPrice',
       'userFlaggedQuantity', 'needsFetchReviewReason',
       'pointsNotAwardedReason', 'pointsPayerId', 'rewardsGroup',
       'rewardsProductPartnerId', 'userFlaggedDescription',
       'originalMetaBriteBarcode', 'originalMetaBriteDescription', 'brandCode',
       'competitorRewardsGroup', 'discountedItemPrice',
       'originalReceiptItemText', 'itemNumber',
       'originalMetaBriteQuantityPurchased', 'pointsEarned', 'targetPrice',
       'competitiveProduct', 'originalFinalPrice',
       'originalMetaBriteItemPrice', 'deleted', 'priceAfterCoupon',
       'metabriteCampaignId', 'receipt_id'],
      dtype='object')

In [129]:
brands_df.columns

Index(['barcode', 'category', 'categoryCode', 'name', 'topBrand', 'brand_id',
       'cpg.$id.$oid', 'cpg.$ref', 'brandCode'],
      dtype='object')

In [130]:
users_df.columns

Index(['active', 'role', 'signUpSource', 'state', 'user_id', 'createdDate',
       'lastLogin'],
      dtype='object')